/* Common */

:root {
    --primary-color: #1EBFC1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.content-main {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 12px 24px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* =============== Header ================ */

.header {
    position: sticky;
    top: -27px;
    padding-top: 27px;
    z-index: 999;
    background-color: #DEF6F5;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.nav-bar ul {
    display: flex;
    margin-left: auto;
}

.nav-bar ul li {
    margin-right: 39px;
}

.nav-bar ul li a {
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-bar ul li a:hover {
    text-shadow: 1px 0px 0px currentColor;
}

.nav-bar ul li:last-child {
    margin-left: 177px;
    margin-right: 24px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

/* ================= Hero ============== */

.hero {
    padding-top: 25px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
}

.hero .content-hero {
    max-width: 468px;
}

.hero .content-hero .desc-heading {
    color: #767E7E;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero .content-hero h1 {
    margin-top: 18px;
    margin-bottom: 46px;
    color: #0D1111;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

.hero .content-hero .desc {
    margin-bottom: 52px;
    color: #9DA6A5;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.78;
}

.hero .content-hero .actions {
    display: flex;
}

.hero .content-hero .get-started-btn {
    border-radius: 14px;
    color: #FFF;
    padding: 21px 41px;
    font-size: 18px;
    background: var(--primary-color);
}

.hero .content-hero .get-started-btn:hover {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .content-hero button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .image-hero {
    position: relative;
    width: 50%;
    height: 631px;
    margin-left: auto;
}

.hero .image-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .image-hero span {
    color: #0D1111;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero .image-hero .courses-hero {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 149px;
    left: -35px;
    width: 107px;
    height: 75px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .image-hero .courses-hero .book {
    position: relative;
    margin-right: 10px;
    width: 42px;
    height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 4px;
    background-color: #FF8282;
}

.hero .image-hero .courses-hero .book::before {
    position: absolute;
    top: 28px;
    left: 4px;
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    border-radius: 999px;
    background-color: #fff;
}

.hero .image-hero .schedules {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 453px;
    left: -62px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .image-hero .schedules .row {
    position: relative;
    width: 74px;
    height: 6px;
    background-color: #EDF1F5;
    border-radius: 999px
}

.hero .image-hero .schedules .row::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: var(--percent-value, 0%);
    height: 100%;
    content: "";
    border-radius: 999px;
    background-color: #FB9899;
}

.hero .image-hero .schedules .row.row-1 {
    margin-top: 16px;
}

.hero .image-hero .schedules .row.row-2 {
    margin-top: 12px;
}

.hero .image-hero .schedules .row.row-3 {
    margin-top: 10px;
}

.hero .image-hero .schedules .row.row-4 {
    margin-top: 16px;
    width: 22px;
}

.hero .image-hero .students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    padding-top: 17px;
    padding-left: 35px;
    width: 172px;
    height: 73px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .image-hero .students .list-avatars {
    display: flex;
    margin-top: 8px;
}

.hero .image-hero .students .list-avatars .avatar {
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .image-hero .students .list-avatars .avatar:nth-child(1) {
    margin-left: 0;
    background-color: var(--back-color, --primary-color);
}

.hero .image-hero .students .list-avatars .avatar:nth-child(5) {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero .image-hero .students .list-avatars .avatar img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .image-hero .students .list-avatars .avatar span {
    color: #fff;
}

/* ============= Features ============== */

.features {
    padding-top: 130px;
    padding-bottom: 65px;
}

.features .row {
    max-width: 600px;
}

.features .desc-heading {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .heading-2 {
    margin: 18px 0;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.34;
}

.features .desc {
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

/* === Features list === */

.features .features-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features .features-list .feature-item .feature-name {
    margin-top: 26px;
    margin-bottom: 16px;
}

.features .features-list .feature-item .feature-name a {
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .features-list .feature-item .desc {
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6875;
}

.features .features-list .feature-item:nth-child(1) .desc {
    max-width: 168px;
}

.features .features-list .feature-item:nth-child(2) .desc {
    max-width: 223px;
}

.features .features-list .feature-item:nth-child(3) .desc {
    max-width: 224px;
}

/* ================= Courses ===============*/

.courses {
    padding-top: 65px;
    padding-bottom: 130px;
}

.courses .row .desc-heading {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses .row .heading-2 {
    margin: 18px 0;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses .row .sub-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .row .sub-row .desc {
    max-width: 525px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.courses .row .sub-row .view-all {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Courses list */

.courses .courses-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.courses .courses-list .course-item {
    position: relative;
    width: 30.6%;
    height: 393px;
}

.courses .courses-list .course-item .thumb {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.courses .courses-list .course-item .opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.3499999940395355;
    background: #D0EFED;
    z-index: 99;
}

.courses .courses-list .course-item .course-content {
    position: absolute;
    top: 322px;
    left: 17px;
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 29px;
    width: calc(100% - 84px);
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.courses .courses-list .course-item .course-content .heading-3 {
    margin-bottom: 16px;
}

.courses .courses-list .course-item .course-content .heading-3 a {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses .courses-list .course-item .course-content .fee {
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses .courses-list .course-item .course-content .fee strong {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses .courses-list .course-item .course-content .desc {
    margin-top: 6px;
    margin-bottom: 18px;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.courses .courses-list .course-item .course-content .infor-course {
    display: flex;
    align-items: center;
}

.courses .courses-list .course-item .course-content .infor {
    display: flex;
    align-items: center;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.courses .courses-list .course-item .course-content .infor::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.courses .courses-list .course-item .course-content .duration {
    margin-left: 10px;
}

/* == Statistics ==*/

.statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
    margin-top: 389px;
    margin-bottom: 264px;
}

.statistics .statistic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics .value strong {
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.statistics .name {
    margin-top: 11px;
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

/* == Feedback === */

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .feedback-content {
    max-width: 420px;
}

.feedback .feedback-content .comment {
    margin-top: 27px;
    margin-bottom: 33px;
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.feedback .feedback-content .author {
    display: flex;
    align-items: center;
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.feedback .feedback-content .author::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 2px;
    background-color: #070707;
}

.feedback .feedback-content .author strong {
    color: #1F3042;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.feedback .feedback-content .actions {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback .feedback-content .actions .direction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.feedback .avatars-list {
    position: relative;
    width: 60%;
    height: 480px;
}

.feedback .avatars-list .avatar {
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .avatars-list .avatar:nth-child(1) {
    top: 107px;
    left: 273px;
    width: 235px;
    height: 235px;
}

.feedback .avatars-list .avatar:nth-child(2) {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback .avatars-list .avatar:nth-child(3) {
    top: 10px;
    right: 0;
    width: 92px;
    height: 92px;
}

.feedback .avatars-list .avatar:nth-child(4) {
    bottom: 30px;
    right: 30px;
}

.feedback .avatars-list .avatar:nth-child(5) {
    bottom: 0;
    left: 212px;
}

.feedback .avatars-list .avatar:nth-child(6) {
    top: 258px;
    left: 0;
}